@font-face {
    font-family: 'Faith Hope';
    font-style: normal;
    font-weight: 400;
    src: local('Faith Hope'), 
         url('../fonts/BabyDoll.woff') format('woff'),
         url('../fonts/BabyDollRegular.woff2') format('woff2'),
}

body {
    font-family: 'Faith Hope', sans-serif;
}
